@media (max-width: 1024px) {
  .container {
    width: 95%;
    height: auto;
  }

  .form-content{
    width: 94%;
  }
  .form-select{
    width: 100%;
  }
  button {
    width: 100%;
  }

  .login_image {
    width: 90%;
  }
}

/* Phone View */
@media (max-width: 768px) {
  body {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container {
    grid-template-columns: 1fr;
    height: auto;
    width: 90%;
    box-shadow: none;
  }

  .first, .second {
    padding: 20px 0;
  }

  .register_image {
    width: 90%;
  }

  .form-content{
    width: 106%;
    margin-left: -9%;
    padding-right: 6%;
  }
  .form-select{
    width: 118%;
    margin-left: -9%;
  }
  button {
    width: 118%;
    margin-left: -9%;
  }

  .form-head h1 {
    font-size: 28px;
  }

  .form-head p {
    font-size: 14px;
  }
}
